<div class="hfeed site" id="page"><header class="site-header" id="masthead" role="banner"><a href="http://midnightsunak.com/" rel="home"><img width="3000" height="250" alt="" src="http://s209711.gridserver.com.s209711.gridserver.com/wp-content/uploads/2015/08/cropped-TheMidnightSun-header1.jpg"></a></header></div>
<br>
<div class = 'hentry'>
  <div class = 'article-square'>
  <h1 class = 'entry-title' id ='headline'>
    <% if current_user && current_user.ratings.count > 0 %>
      <% rating = current_user.ratings.last %>
      <% winner_name = Character.find(rating.winner_id).character_name %>
      <% loser_name = Character.find(rating.loser_id).character_name %>
      <% cat_name = Category.find(rating.category_id).category_name %>
      <%= "#{current_user.name} thinks #{winner_name} is #{cat_name} than #{loser_name}!" %>
    <% end %>
  </h1>
  </div>
</div>
<div style="text-align:center; padding:5px;">
<input type="submit" id="byBtn" value="Random Headline" onclick="change()"/>
</div>

<script>
var subject_nouns = ['Mike Chenault', 'Ray Metcalfe', 'Senate Majority staffer', 'Berta Gardner', 'Governor Walker', 'House Majority staffer', 'Pete Kelly', 'Mike Dunleavy', 'Vince Beltrami', 'Jeff Landfield', 'Amy Demobski', 'Don Young', 'Lisa Murkowski', 'Mark Begich', 'Dan Sullivan', 'Legislative Aide', 'David Boyle', 'Michael Chambers', 'Musk Ox Caucus member', 'Ethan Berkowitz', 'Dustin Darden', 'Les Gara', 'Sarah Palin', 'Joe Miller', 'AKGOP Chairman', 'Oil industry lobbyist', 'Internet troll'];
var verbs = ['slut shames', 'blames', 'suggests relocating capitol to','attacks', 'mulls primary run against', 'cozies up to', 'annoys', 'mulls gubernatorial run with', 'embarrasses', 'trolls', 'flirts with', 'admits to affair with', 'shmoozes', 'to debate', 'attempts to out-Alaska'];
var places = ['on Dave Stieren Show', 'on Facebook', 'on blog', 'in email newsletter', 'on Twitter', 'on hunting trip', 'while fishing', 'at fundraiser', 'during committee meeting', 'in ADN comment section'];
var cities = ['Anchorage', 'Bethel', 'Seattle', 'Mad Myrna\'s'];
var groups = ['tourists', 'Natives', 'commercial fishermen', 'environmentalists', 'Democrats', 'immigrants', 'Muslims', 'Bernie Bros', 'gays', 'libertarians'];
var problems = ['Fish War', 'budget crisis', 'climate change', 'Speedo-gate', 'legislative gridlock' ];


function change(){
	var randSubject = subject_nouns[Math.floor(Math.random() * subject_nouns.length)];
  var randVerb = verbs[Math.floor(Math.random() * verbs.length)];
  if (randVerb == 'mulls primary run against')
    subject_nouns = ['Mike Chenault', 'Berta Gardner', 'Governor Walker', 'Pete Kelly', 'Mike Dunleavy', 'Don Young', 'Lisa Murkowski', 'Dan Sullivan', 'Musk Ox Caucus member', 'Les Gara'];
  else if (randVerb == 'suggests relocating capitol to')
    subject_nouns = cities;
  var randRecipient = subject_nouns[Math.floor(Math.random() * subject_nouns.length)];
  while(randSubject == randRecipient)
    randRecipient = subject_nouns[Math.floor(Math.random() * subject_nouns.length)];
  var randplace = places[Math.floor(Math.random() * places.length)];
  if (randVerb == "embarrasses")
    var newHeadline = 'Drunken ' + randSubject + ' ' + randVerb + ' ' + randRecipient + ' ' + randplace;
  else if(randVerb == 'blames'){
    var randGroup = groups[Math.floor(Math.random() * groups.length)];
    var randProblem = problems[Math.floor(Math.random() * problems.length)];
    var newHeadline = randSubject + ' ' + randVerb + ' ' + randGroup + ' for ' + randProblem;
  }
  else
	  var newHeadline = randSubject + ' ' + randVerb + ' ' + randRecipient + ' ' + randplace;
  document.getElementById('headline').innerHTML = newHeadline;
  subject_nouns = ['Mike Chenault', 'Ray Metcalfe', 'Senate Majority staffer', 'Berta Gardner', 'Governor Walker', 'House Majority staffer', 'Pete Kelly', 'Mike Dunleavy', 'Vince Beltrami', 'Jeff Landfield', 'Amy Demobski', 'Don Young', 'Lisa Murkowski', 'Mark Begich', 'Dan Sullivan', 'Legislative Aide', 'David Boyle', 'Michael Chambers', 'Musk Ox Caucus member', 'Ethan Berkowitz', 'Dustin Darden', 'Les Gara', 'Sarah Palin', 'Joe Miller', 'AKGOP Chairman', 'Oil industry lobbyist', 'Internet troll'];
}




</script>

<% unless current_user %>
  <script>
    change();
  </script>
<% end %>

<style media="screen">
#byBtn {
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  background: #f45145;
  color: white;
}

.hentry {
    background-color: white;
    border-top: 8px solid #f45145;
    margin-left: 12%;
    margin-right:12%;
    padding: 27px 27px 22px;
    position: relative;
}
/*media all*/
.article-square {
    /*border: black;
    border-style: solid;
    border-width: 1px;*/
}

/*media all*/
.entry-title {
    line-height: 1.14em;
    color: #f45145;
    margin: 27px 0;
    text-align: center;
    font-family: "PT Serif", Georgia, Times, serif;
    font-size: 47px;
}

/*media all*/



/*media all*/
.site-header .site-logo {
    height: 180px;
    left: -20px;
    position: relative;
}
/*media all*/
.site-logo img {
    margin: 0 auto;
    max-height: 400px;

}
body {
  margin: 0;
}
html {
  -ms-overflow-style: scrollbar;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, th {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
img {
  height: auto;
  max-width: 100%;
}
a img {
  border: 0;
}
.site-header img {
  display: block;
  margin: 0 auto;
  max-height: 400px;
}
a {
  color: #f45145;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:focus {
  outline: thin dotted;
}
a:visited {
  color: #f45145;
}
a:hover, a:focus, a:active {
  color: #f77e75;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
.site-header {
  border-bottom: 5px solid #1e252d;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}
.site-header::before, .site-header::after {
  content: "";
  display: table;
}
.site-header::after {
  clear: both;
}
body {
  background: #fff;
}
body, button, input, select, textarea {
  color: #404040;
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  background: #f0f1f3;
  color: #656e7f;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}
html {
  font-size: 16px;
  line-height: 1.5em;
}
html {
  font-size: 18px;
  line-height: 1.5em;
}
</style>
