<h1>All Politicians</h1>

<ul id='characters'</ul>
  <% @characters.each do |character| %>
    <li>
      <%= character.character_name %>
    </li>
  <% end %>
</ul>

<% @categories.each do |cat| %>

  <h1><%= cat.category_name %>est Politicians</h1>
  <ol id='characters'>
    <% sorted_category(cat.id).each do |character| %>
      <li>
        <%= character.character_name %> - <%= character.category_score(cat.id).round(1) %>
      </li>
    <% end %>
  </ol>

<%end %>
