<% if current_user.admin %>

  <h1>New Character</h1>

  <%= render 'form' %>

  <%= link_to 'new character', new_character_path %> <%= link_to 'new category', new_category_path %>
  <%= link_to 'users', users_path %>

<% end %>
