<p id="notice"><%= notice %></p>

<p>
  <strong>Character name:</strong>
  <%= @character.character_name %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
